html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
body,
html {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: #f2f3f3;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
app {
  display: block;
  height: 100%;
  padding-top: 50px;
}
.main-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  height: calc(100% - 50px);
}
.round-photo {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: url("http://petzilla.ru/sites/default/files/styles/large/public/field/image/poroda-britanec.jpg") 100% 100% no-repeat;
  background-size: cover;
  display: inline-block;
  background-position: center;
}
.form-control {
  box-shadow: none;
  border-radius: 0;
}

left-menu {
  height: 100%;
  width: 300px;
  margin: 0 15px 0 50px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
  background: #fff;
}
.left-list {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.left-list__search {
  padding: 5px;
  position: relative;
}
.left-list__search input {
  border-radius: 25px;
}
.left-list__search .search__btn {
  display: block;
  position: absolute;
  top: 5px;
  right: 10px;
  padding: 10px;
}
.left-list__item {
  cursor: pointer;
  padding: 5px;
  position: relative;
  font-size: 14px;
}
.left-list__item + .left-list__item {
  border-top: 1px solid #eee;
}
.left-list__item:hover {
  background: #eee;
}
.left-list__item.current {
  background: #2196f3;
  color: #fff;
}
.left-list__item.current .left-list__item__tx {
  color: #fff;
}
.left-list__item.current:after {
  content: '';
  position: absolute;
  right: -1px;
  top: 9px;
  width: 0px;
  height: 0px;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-right: 14px solid #fff;
}
.left-list__item.current:before {
  content: '';
  position: absolute;
  right: 0px;
  top: 9px;
  width: 0px;
  height: 0px;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-right: 14px solid #ddd;
}
.left-list__item__name {
  display: inline-block;
}
.left-list__item__tx {
  color: #999;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
  font-size: 12px;
}
.left-list__item__status {
  position: absolute;
  left: 8px;
  top: 5px;
  color: #ddd;
}
.online .left-list__item__status {
  color: #00c853;
}
.left-list__item .round-photo {
  width: 36px;
}
.left-list__item.new-message {
  -webkit-animation: blink 2s infinite;
          animation: blink 2s infinite;
}
.wait-handle {
  padding: 10px;
  font-size: 14px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
  position: relative;
  font-weight: normal;
}
.divider {
  font-size: 12px;
  color: #555;
}
.divider:after {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
@-webkit-keyframes blink {
  0% {
    background: #ffe0b2;
  }
  50% {
    background: transparent;
  }
  100% {
    background: #ffe0b2;
  }
}
@keyframes blink {
  0% {
    background: #ffe0b2;
  }
  50% {
    background: transparent;
  }
  100% {
    background: #ffe0b2;
  }
}

.search {
  border: 1px solid #ddd;
  padding: 10px 0;
  position: fixed;
  top: 50;
  left: 0;
  right: 0;
  background: #fff;
}
.search__result {
  padding: 5px 10px;
  cursor: pointer;
}
.search__result:hover {
  background: #eee;
}
.mess__info {
  margin-right: 15px;
}
.search__close {
  font-size: 18px;
  position: absolute;
  top: 10;
  right: 10;
}

main-header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  border-bottom: 1px solid #ddd;
}
main-header .navbar {
  background: #fff;
}
.main-header__links {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-header__links li {
  display: inline-block;
  vertical-align: middle;
}
.main-header__links a {
  display: block;
  text-decoration: none;
  padding: 15px 20px;
}
.main-header__links a:hover {
  background: #eee;
}
.main-header__links a:hover {
  background: transparent;
}
.main-header__links a i {
  color: #ddd;
}
.main-header__links a input {
  border: 1px solid #ddd;
  line-height: 1.5;
}
.main-header__search .search__input {
  border-radius: 50px;
  box-shadow: none;
}
.main-header__search .search__input:focus {
  background: #fff;
  width: 300px;
}
.main-header__search .search__btn {
  display: block;
  position: absolute;
  top: 8px;
  right: 15px;
  padding: 10px;
}
a.main-header__profile {
  padding: 7px !important;
}

ticket {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  border-top: 1px solid #ddd;
  width: 100%;
}
.chat {
  width: 50%;
  margin: 0 15px 0 0;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
  background: #fff;
}
.info {
  width: 50%;
  margin-right: 50px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
  background: #fff;
}
.info .main {
  padding: 10px;
}
.info .main__info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.info .main__info td:nth-child(odd) {
  text-align: right;
}
.info .main__info > div {
  width: 50%;
}
.info .main .photo {
  display: inline-block;
  width: 100px;
  height: 150px;
  background: url("http://petzilla.ru/sites/default/files/styles/large/public/field/image/poroda-britanec.jpg") 100% 100% no-repeat;
  background-size: cover;
  margin-right: 10px;
  background-position: center;
}
.dubls {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-grid-column-align: align-items;
      justify-items: align-items;
}
.dubl {
  display: block;
  padding: 5px 5px 5px 15px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.dubl + .dubl {
  border-left: 1px solid #ddd;
}
.dubl:hover {
  background: #eee;
}
.top__actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-grid-column-align: align-items;
      justify-items: align-items;
}
.top__action {
  display: block;
  padding: 5px;
  cursor: pointer;
  border-top: 1px solid #ddd;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
.top__action + .top__action {
  border-left: 1px solid #ddd;
}
.top__action:hover {
  background: #eee;
}
.send-message {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-grid-column-align: align-items;
      justify-items: align-items;
  border-top: 1px solid #ddd;
  padding: 10px 15px;
  position: relative;
}
.send-message__icons {
  position: absolute;
  font-size: 17px;
  right: 130px;
  top: 15px;
  z-index: 5;
}
.send-message__icons a {
  margin-right: 8px;
}
.chat {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.chat-area {
  height: 100px;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 15px;
  overflow-y: auto;
}
.chat-message {
  max-width: 80%;
  margin-bottom: 20px;
}
.chat-message .media-body {
  width: initial;
  border-radius: 3px;
  padding: 5px 10px;
  position: relative;
  overflow: visible;
  min-width: 300px;
}
.message-note {
  margin: 0 auto 20px;
  max-width: 60%;
  border-radius: 3px;
  font-size: 12px;
}
.message-note .media-body {
  width: 1000000px;
  background: #eee;
  min-width: auto;
}
.message-right {
  float: right;
}
.message-right .author {
  float: right;
}
.message-right .media-body {
  background: #e3f2fd;
}
.message-right .media-body:after {
  content: '';
  position: absolute;
  right: -9px;
  top: 8px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #e3f2fd;
}
.message-left .media-body {
  background: #e0f2f1;
}
.message-left .date {
  float: right;
}
.message-left .date:after {
  content: '';
  position: absolute;
  left: -10px;
  top: 8px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #e0f2f1;
}
.attachment {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
  background: url("http://petzilla.ru/sites/default/files/styles/large/public/field/image/poroda-britanec.jpg") 100% 100% no-repeat;
  background-size: cover;
  border: 1px solid #ddd;
}
.select-chat {
  font-size: 48px;
  color: #ddd;
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
}
