.search
  border 1px solid #ddd
  padding 10px 0
  position fixed
  top 50
  left 0
  right 0
  background #fff

  &__result
    padding 5px 10px
    cursor: pointer

    &:hover
      background #eee

.mess__info
  margin-right 15px;

.search__close
  font-size 18px
  position: absolute
  top: 10
  right: 10
